{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="list-div" id="listDiv">
<table width="100%" cellspacing="1" cellpadding="2" id="list-table">
  <tr>
    <th>ID</th>
    <th>{$lang.x_379}</th>
	<th>{$lang.x_64}</th>
	<th>{$lang.x_380}</th>
	<th>{$lang.handler}</th>
  </tr>
	{foreach item=item from=$corn}
  <tr>
	<td>{$item.id}</td>
	<td>{$item.title}</td>
	<td>{if $item.issend eq 0}{$lang.x_381}{elseif $item.issend eq 2}{$lang.x_382}{else}{$lang.x_383}{/if}</td>
	<td>{$item.sendymd}</td>
	<td>
		{if $item.issend neq 2}
		<a href="weixin.php?act=news&id={$item.id}">{$lang.edit}</a>|
		<a href="weixin.php?act=view&id={$item.id}">{$lang.x_384}</a>
		<a href="../weixin/auto_do.php?type=1" target="_blank">{$lang.x_385}</a>|
		{/if}
        <a href="weixin.php?act=news&id={$item.id}&tag=1">{$lang.drop}</a>
	</td>
  </tr>
	{foreachelse}
  <tr><td class="no-records" colspan="7">{$lang.no_records}</td></tr>
  {/foreach}
  </table>
</div>
{include file="pagefooter.htm"}