{if $full_page eq 1}
<!DOCTYPE HTML>
<html>
  <head>
    {include file='html_header.htm'}
	<script src='js/touch.js'></script>
    <script>
      function search_order()
      {
        if(check_form_empty('theForm'))
        {
          $.zalert.add("{$lang.y_99}",1)
        }
        else
        {
          $.zcontent.set('order_sn',$('#order_sn').val());
          $.zcontent.set('user_name',$('#user_name').val());
		 
          search();
        }
        return false;
      }
    </script>
  </head>
  <body>
    <div id='container'>
      {/if}
      {include file='page_header.htm'}
      <section>
        {include file='menu_list.htm'}
        <div class="order_con" id="con_order_manage_2" style="display:none">
          <div class="query_stock">
            <div class='order_search'>
              <form name="theForm" class="order_search" onsubmit='return search_order();'>
                <table width="100%" border="0">
                  <tr>
                    <td>
                      <input type="text" name="order_sn" id='order_sn' class="inputBg" placeholder="{$lang.y_62}" {if $filter.order_sn}value='{$filter.order_sn}'{/if}/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text" name="user_name" id='user_name' class="inputBg" placeholder="{$lang.y_182}"  {if $filter.user_name}value='{$filter.user_name}'{/if}/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="submit" class="button2" value="{$lang.y_101}"/>
                    </td>
                  </tr>
                </table>
              </form>
            </div>
          </div>
        </div>
        <div class="order_con" id="con_order_manage_1">
		{include file='order_status_list.htm'}
		 
          <div class="order_pd"  id="con_type_1">
            <div class="order">
              <ul class="order_list">
                {foreach from=$orders item=order}
                <li>
                  <table border="0px solid black" style="border-collapse: collapse;" width="100%">
                    <tr>
                      <td align="left">{$lang.y_131}</td>
                      <td align="left">:&nbsp;&nbsp;&nbsp;<a href="order.php?act=info&order_id={$order.order_id}">{$order.order_sn}</a></td>
                    </tr>
                    <tr>
                      <td align="left">{$lang.y_133}</td>
                      <td align="left">:&nbsp;&nbsp;&nbsp;{$order.short_order_time}</td>
                    </tr>
                    <tr>
                      <td align="left">{$lang.y_183}</td>
                      <td align="left">:&nbsp;&nbsp;&nbsp;{$order.buyer}</td>
                    </tr>
                    <tr>
                      <td align="left">{$lang.y_115}</td>
                      <td align="left">:&nbsp;&nbsp;&nbsp;{$order.formated_total_fee}</td>
                    </tr> 
                    <tr>
                      <td align="left">{$lang.y_184}</td>
                      <td align="left">:&nbsp;&nbsp;&nbsp;{$lang.os[$order.order_status]}</td>
                    </tr>
                    <tr>
                      <td align="left">Status bayar</td>
                      <td align="left">:&nbsp;&nbsp;&nbsp;{$lang.ps[$order.pay_status]}<br></td>
                    </tr>
                    <tr>
                      <td align="left">Status pengiriman</td>
                      <td align="left">:&nbsp;&nbsp;&nbsp;{$lang.ss[$order.shipping_status]} <a href='navigate.php?act=navigate&order_id={$order.order_id}' target='_blank'><img src='images/location.png' style='height:15px;'/></a></td>
                    </tr>
                    <tr>
                      <td align="left">Detail</td>
                      <td align="left">:&nbsp;&nbsp;&nbsp;<a href="order.php?act=info&order_id={$order.order_id}" class="font" >Lihat</a></td>
                    </tr>
                  </table>
                </li>
                {foreachelse}
                <li>
                  <div class="no_order">{$lang.y_185}</div>
                </li>
                {/foreach}
              </ul>
            </div>
            {include file='page.htm'}
          </div>
        </div>
      </section>
      {include file='page_footer.htm'}
      {if $full_page eq 1}
    </div>
    {include file='static_div.htm'}
  </body>
</html>
{/if}

