{include file="pageheader.htm"}

{insert_scripts files="../js/utils.js,listtable.js"}

<div class="list-div" id="listDiv">

<table width="100%" cellspacing="1" cellpadding="2" id="list-table">

  <tr>

    <th>ID</th>

	<th>{$lang.x_290}</th>

    <th>{$lang.x_289}</th>

    <th>{$lang.x_291}</th>

	<th>{$lang.handler}</th>

  </tr>

  {foreach item=item from=$oauth}

  <tr>

	<td>{$item.oid}</td>

	<td>{$baseurl}mobile/weixin/oauth.php?id={id}&oid={$item.oid}</td>

	<td>{$item.weburl}</td>

	<td>{$item.click}</td>

	<td>

		<a href="weixin.php?act=oauth&oid={$item.oid}&t=add">{$lang.edit}</a>
        <a href="weixin.php?act=oauth&oid={$item.oid}&t=delete">{$lang.drop}</a>

	</td>

  </tr>

	{foreachelse}

  <tr><td class="no-records" colspan="5">{$lang.no_records}</td></tr>

  {/foreach}

</table>

</div>

{include file="pagefooter.htm"}